# Artifacts
**.dart_tool/
**.flutter*
**.ipynb_checkpoints/
**.pyc
**__pycache__/
**build/

# Auxiliary files
**.bak
**.tmp

# Databases
**.db*
**.sqlite*

# Documents
**.csv
**.doc*
**.pdf
**.ppt*
**.txt
**.vsd*
**.xls*

# File managers
**.DS_Store
**.Trash*
**.directory
**esktop.ini

# Images
**.3dm
**.apng
**.bmp
**.dib
**.gif
**.hdp
**.ico
**.j2k
**.jfi
**.jfif
**.jif
**.jp2
**.jpe
**.jpeg
**.jpf
**.jpg
**.jpm
**.jpx
**.jxr
**.max
**.mj2
**.mng
**.pdf
**.png
**.raw
**.svg
**.svgz
**.tif
**.tiff
**.wdp
**.webp
**.xbm

# virtual environments
**.venv/

# Specific
!**requirements.txt
**.crossnote